{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
 
		 <!-- Slider Start -->
         <div class="slider-area slider-height-1">
            <div class="hero-slider swiper-container">
                <div class="swiper-wrapper">
                    <!-- Single Slider  -->
					<div class="swiper-slide bg-img d-flex" style="background-image: url({{ asset('images/slider-image/sample-2.jpg') }});">
                        <div class="container align-self-center">
                            <div class="slider-content-1 slider-animated-1 text-start pl-60px">
                                <span class="animated color-gray">NEW DESIGN FEATURES</span>
                                <h1 class="animated color-black">
                                    Hamsung Galaxy <br />
                                    <strong>S10+ Edge</strong>
                                </h1>
                                <a href="shop-4-column.html" class="shop-btn animated">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Slider  -->
                    <div class="swiper-slide bg-img d-flex" style="background-image: url({{ asset('images/slider-image/sample-1.jpg') }});">
                        <div class="container align-self-center">
                            <div class="slider-content-1 slider-animated-1 text-start pl-60px">
                                <span class="animated color-gray">WIRELESS BLUETOOTH GAMING</span>
                                <h1 class="animated color-black">
                                    Bluetooth Gamepad <br />
                                    <strong>IPEGA PG-9023</strong>
                                </h1>
                                <a href="shop-4-column.html" class="shop-btn animated">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Slider  -->
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-pagination-white"></div>
            </div>
        </div>
        <!-- Slider End -->
		 <!-- Static Area Start -->
		<div class="static-area mtb-60px">
            <div class="container">
                <div class="static-area-wrap">
                    <div class="row">
                        <!-- Static Single Item Start -->
                        <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-md-30px mb-lm-30px">
                            <div class="single-static">
                                <img src="{{asset('images/icons/static-icons-1.png')}}" alt="" class="img-responsive" />
                                <div class="single-static-meta">
                                    <h4>Free Shipping</h4>
                                    <p>On all orders over $75.00</p>
                                </div>
                            </div>
                        </div>
                        <!-- Static Single Item End -->
                        <!-- Static Single Item Start -->
                        <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-md-30px mb-lm-30px">
                            <div class="single-static">
                                <img src="{{asset('images/icons/static-icons-2.png')}}" alt="" class="img-responsive" />
                                <div class="single-static-meta">
                                    <h4>Free Returns</h4>
                                    <p>Returns are free within 9 days</p>
                                </div>
                            </div>
                        </div>
                        <!-- Static Single Item End -->
                        <!-- Static Single Item Start -->
                        <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-sm-30px">
                            <div class="single-static">
                                <img src="{{asset('images/icons/static-icons-4.png')}}" alt="" class="img-responsive" />
                                <div class="single-static-meta">
                                    <h4>Support 24/7</h4>
                                    <p>Contact us 24 hours a day</p>
                                </div>
                            </div>
                        </div>
                        <!-- Static Single Item End -->
                        <!-- Static Single Item Start -->
                        <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
                            <div class="single-static">
                                <img src="{{asset('images/icons/static-icons-3.png')}}" alt="" class="img-responsive" />
                                <div class="single-static-meta">
                                    <h4>100% Payment Secure</h4>
                                    <p>Your payment are safe with us.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Static Single Item End -->
                    </div>
                </div>
            </div>
        </div>
	<!-- Static Area End -->
        <!-- Banner Area Start -->
		<div class="banner-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="banner-wrapper">
                            <a href="shop-4-column.html"><img src="{{asset('images/banner-image/1.jpg')}}" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="banner-wrapper">
                            <a href="shop-4-column.html"><img src="{{asset('images/banner-image/2.jpg')}}" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="banner-wrapper">
                            <a href="shop-4-column.html"><img src="{{asset('images/banner-image/3.jpg')}}" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- Banner Area End -->
		 <!-- Banner Area Start -->
            <div class="banner-area mt-30px">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="banner-wrapper">
                                <a href="shop-4-column.html"><img src="{{asset('images/banner-image/4.jpg')}}" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
{% endblock %}
