{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block body %}
 
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="card-title text-left mb-3">Register</h3>
                        
                        {{ form_start(registrationForm, {'attr': {'class': 'form-group', 'novalidate': 'novalidate'}}) }}

                        <div class="form-group m-3">
                            <label for="inputUsername">Username <span style="color: red;">*</span></label>
                            {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
                            <span style="color: red;" >   {{ form_errors(registrationForm.username) }} </span>
                        </div>

                        <div class="form-group m-3">
                            <label for="inputEmail">Email <span style="color: red;">*</span></label>
                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                            <span style="color: red;" >   {{ form_errors(registrationForm.email) }} </span>
                        </div>

                        <div class="form-group m-3">
                            <label for="inputPassword">Password <span style="color: red;">*</span></label>
                            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                            <span style="color: red;" >    {{ form_errors(registrationForm.plainPassword) }} </span>
                        </div>

                        <div class="form-group m-3">
                            Accept terms and conditions
                            {{ form_widget(registrationForm.agreeTerms) }}
                            <span style="color: red;" >                            {{ form_errors(registrationForm.agreeTerms) }}
                            </span>

                            </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-block enter-btn m-3">Register</button>
                        </div>

                        <p class="sign-up">already have an Account?<a href="/login"> Sign in</a></p>

                        {{ form_end(registrationForm) }}
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
</div>
{% endblock %}
 