{% extends 'Admin.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    
    {{ form_start(form, {'attr': { 'novalidate': 'novalidate'}}) }}

    <div class="card">
    <div class="card-header">

        <h4>Modifier un produit</h4>
    </div>
    <div class="card-body">
        {{ form_start(form, {'attr': { 'novalidate': 'novalidate'}}) }}
        
        <div class="form-group">
            {{ form_label(form.titre) }}
            {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
            {% if form.titre.vars.errors|length > 0 %}
                <div class="text-danger">
                    {% for error in form.titre.vars.errors %}
                        <p>{{ error.message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {% if form.description.vars.errors|length > 0 %}
                <div class="text-danger">
                    {% for error in form.description.vars.errors %}
                        <p>{{ error.message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
       
            {{ form_label(form.prix) }}
            <div class="input-group">
            <span class="input-group-text bg-primary text-white">TND</span>
                 {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
            </div>
            {% if form.prix.vars.errors|length > 0 %}
                <div class="text-danger">
                    {% for error in form.prix.vars.errors %}
                        <p>{{ error.message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        

         <div class="form-group">
                {{ form_label(form.quantite) }}
                {{ form_widget(form.quantite, {'attr': {'class': 'form-control', 'min': '0'}}) }}
                {% if form.quantite.vars.errors|length > 0 %}
                    <div class="text-danger">
                        {% for error in form.quantite.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
         </div>  

        <div class="form-group">
            {{ form_label(form.category) }}
            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
            {% if form.category.vars.errors|length > 0 %}
                <div class="text-danger">
                    {% for error in form.category.vars.errors %}
                        <p>{{ error.message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_label(form.image) }}
            {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
            {% if form.image.vars.errors|length > 0 %}
                <div class="text-danger">
                    {% for error in form.image.vars.errors %}
                        <p>{{ error.message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    <button type="submit" class="btn btn-success">Modifier Produit</button>



    {{ form_end(form) }}
    

</div>
{% endblock %}
